<!doctype html>
<html>

<head>
    <meta charSet="utf-8" />
    <title>Codeforces Analyze</title>
    <meta name="keywords" content="codeforces, analyze" />
    <meta
      name="description"
      content="Codeforces Analyze"
    />
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>

</html>